/* css variables */
:root {
    --example-variable: value;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 2rem;
    margin: 0;
}

/* container for hero section */
.container-wrapper {
    background-image: url("../images/hero1.png");
    background-size: cover; /* Ensures the image covers the entire container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image within the container */
    width: 100%; /* Ensures the container takes the full width */
    height: 88vh; /* Ensures the container takes the full viewport height */
    display: flex;
    flex-wrap: wrap;
    border-radius: 0 100px 0 100px;
    overflow: hidden;
}
.container-wrapper {
    color: aliceblue;
font-size: 3vh;
}

/* Section for hero */
.box1 {
    text-align: center;
    align-content: center;
    flex-grow: 1;
}

.box2 {
    text-align: center;
    align-content: center;
    flex-grow: 1;
}

.box-width-full {
    min-width: 100%;
    align-content: flex-end;
    text-align: center;
    color: azure;
}

/* Image container for Hero */
.image-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.image-hero {
    background-image: url("../images/hero1.png");
    background-size: 260px 260px;
    background-repeat: no-repeat;
    background-color: aquamarine;
    width: 230px;
    height: 230px;
    border-radius: 150px;
    margin-bottom: 1rem;
}

.stats {
    background-color: rgb(224, 224, 224);
    margin: 0 auto;
    color: black;
    font-size: 0.8rem;

}

#section-1{
    margin-top:2rem;
    color: rgb(145, 65, 0);
    text-align: center;
}


#section2 {
    margin-top:2rem;
    color: rgb(145, 65, 0);
    text-align: center;
}

/* Tip containers */

#tip-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top:2rem;

}
#tip1 {
border: 5px solid rgb(255, 73, 1);
height:400px;
width: 300px;
border-radius: 30px 0 30px 0;
}

#tip2 {
    border: 5px solid rgb(145, 43, 3);
    height:400px;
    width: 300px;
    border-radius: 0 30px 0 30px;
    }

    #tip3 {
        border: 5px solid rgb(70, 20, 0);
        height:400px;
        width: 300px;
        border-radius: 30px 0 30px 0;
        }
    



.footer {
    background-color: #d38541;
    display: flex;
    flex-wrap: wrap;
    height: 3rem;
    margin-top: auto;
    width: 100%;
    color:#57391f
}
/* Footer (c) section */
footer .box1 {
    padding-top: 6px;
    padding-left: 1px;
    word-wrap: break-word
}
/* Footer social section */
footer .box2 {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;;
    letter-spacing: 12px;
 
}

/* Media queries */


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) {
    .stats {
        width: 100%;
    }
    .container-wrapper {
        border-radius: 0 0 0 0;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .stats {
        width: 60%;
    }
    .container-wrapper {
        border-radius: 0 100px 0 100px;
    }
    body {
        background-color: white;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        background-color: black;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        background-color: white;
    }
}